/* Header and Navigation Styling */


  
 
  
  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    #hamburger-menu .bar {
      display: block;
      width: 30px; /* Adjust as needed */
      padding: 5px 0; /* Adjust spacing as needed */
      background-color: black; /* Or any color you prefer */
      margin: 5px 0; /* Adjust spacing as needed */
    }
  
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #003366; /* Brand color */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  